#contact{
    position: relative;
    width: 100%;
    background-color: black;
    color: white;
    padding: 30px 0px;
    overflow: hidden;
}


#contact .contactBox{
    position: relative;
    width: clamp(300px,80vw,1300px);
    margin: auto;
}

.contactBox .faqTop span span{
    color: white;
}


.contactBox .userDatail{
    position: relative;
    width: 100%;
    display: flex;
    background-color: transparent;
    padding: 30px 4px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.contactBox  .boxD1{
    position: relative;
    width: clamp(260px,20vw,400px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 20px;
    border-radius: 15px;
}
.contactBox  .boxD1:hover{
    background-color: #141414;
}

.contactBox  .boxD1 i{

}

.contactBox  .boxD1 h1{
    display: flex;
    flex-direction: column;
    font-size: clamp(15px,1.3vw,24px);
    font-weight: 300;
}

.contactBox  .boxD1 h1 span:nth-child(1){
    font-weight: 450;
}
.contactBox  .boxD1 h1 span:nth-child(2){
    opacity: .5;
}



/* form */

.formContact{
    position: relative;
    width: 100%;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.formContact .formBox1 .userInfo h1{
    white-space: nowrap;
    font-size: clamp(20px,1.9vw,29px);
}
.formContact .formBox1{
    position: relative;
    width: clamp(350px,45%,600px);
    background-color: white;
    color: black;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.formContact .formBox1 .userInput{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* input */
.formBox1 .userInput input{
    padding: 20px;
    border-radius: 11px;
    border: 1px solid rgba(0, 0, 0, 0.19);
}

.formBox1 .userInput input:focus{
    outline: 1px solid rgba(0, 0, 0, 0.643);
}

.formContact .formBox1 .btn{
    position: relative;
    display: flex;
    justify-content: start;
    padding-left: 20px;
}

.formBox1 .btn button{
    background-color: #2FE784;
    border: 1px solid transparent;
    height: 50px;
    padding: 10px 30px;
    border-radius: 20px;
    transition: all .5s;
    cursor: pointer;
    color: black;
    font-size: 17px;
    font-weight: 500;
}

.formBox1 .btn button:hover{
    background-color: #4DFFA2;
}


.formBox2{
    background: url('https://assets-global.website-files.com/65cc742940cb3798ef9ade41/65cdca5d21d44e988455e01f_3375366.webp');
    background-size: cover;

}


/* footer */
footer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
    padding: 20px;
}

footer .socilM{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.267);
    padding-bottom: 30px;
}

footer .socilM .socilIcons{
    display: flex;
    gap: 20px;
}
footer .socilM .socilIcons i{
    cursor: pointer;
    overflow: hidden;
    transition: all .5s;
}

footer .socilM .socilIcons i:hover{
    transform: rotate(30deg);
}

footer .licen{
    display: flex;
    justify-content: space-between;
    opacity: .5;
}



@media only screen and (max-width: 914px) {
    .contactBox  .boxD1{
        width: clamp(300px,70%,400px);
    }

    .formContact .formBox1{
        width: 100%;
    }
    .formContact{
        gap: 30px;
    }
    .formBox2{
        height: 500px;
    }
}